<!-- i need to make the following:
resume
plangular player -->
<div id="about_container_wrapper">
	<div id="about_container">
		<h1 class="about_headers">About</h1>
		<ul id="skill_list" class="about_sections">
			<li><h3 id="whtiknw">What I know:</h3></li>
			<li>Ruby on Rails</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>AngularJS</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap/Foundation</li>
			<li>SASS</li>
			<li>BDD/TDD</li>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Firebase</li>
			<li>Git/Github</li>
			<li>Adobe Photoshop</li>
			<li>Adobe Illustrator</li> 
			<li>Adobe InDesign</li>
			<li>Ableton Live Suite</li>
			<li>Google Analytics</li>
			<li>Qualtrics</li>
		</ul>
		<div id="right_about" class="about_sections" >
			<div id="bio_container">
					<p id="bio" >Howdy! I'm a graphic designer turned programmer with a degree in business from USC. I found coding as a fun way to kill time on the side. I read a lot about coding and utilized other online resources, but... I needed more depth. So, I enrolled into an immersive programming school called General Assembly. After a few months of 60-70hr weeks, multiple all-nighters, and no social life, I am fully stacked to make awesome web apps. Call me a Drogrammer (designer + programmer). I love loud music, clean and simple code/design, pizza, & learning new things. Let's make something wicked.</p>
			</div>
			<div id="resmus_wrapper">
					<img src="assets/resume_icon.svg" id="resume_btn" class="resume_music_btns">
				<img src="assets/music.svg" id="music_btn" class="resume_music_btns">
				
				<!-- plangular player -->
	      <div id="song_player" plangular data-src="https://soundcloud.com/ripleemusic/sets/selected-works">
	      	<div class="media">
		      	<a href="" ng-click="player.previous(playlist)"><img src="assets/prev.svg" class="playback_controls"></a>
					  <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing"><img src="assets/play_song.svg" class="playback_controls"></a>
					  <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks &amp;&amp; player.playing"><img src="assets/pause.svg" class="playback_controls"></a>
					  <a href="" ng-click="player.next(playlist)"><img src="assets/next.svg" class="playback_controls"></a>
					  <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)">
					  	{{ currentTime / duration }}
					  </progress>
				    <small>{{ currentTime | playTime }} | {{ duration | playTime }}</small>
			    </div>
				  
				  <div class="media">
					  <ul id="playlist">
					  	<!-- hide songs that aren't being played -->
					  	<li ng-repeat="track in playlist.tracks" class="track_name">
					  		<a href="" ng-click="player.play(playlist.tracks, $index)" ng-hide="track != player.playing" ng-show"track == player.paused" style="color: white;">
					  			<p>Riplee - {{ track.title }}</p>
		            </a>
		          </li>
					  </ul>
				  </div>
				</div>
				<!-- end of plangular player -->
			</div>
		</div>
	</div>
</div>