<!-- i need to make the following:
bio
skills
resume
plangular player -->


<div id="about_container_wrapper">
	<div id="about_container">
		<h1 class="about_headers">About</h1>
		<ul id="skill_list" class="about_sections">
			<li><h3>What I know:</h3></li>
			<li>Ruby on Rails</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>AngularJS</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Twitter Bootstrap/Foundation</li>
			<li>SASS</li>
			<li>BDD/TDD</li>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Firebase</li>
			<li>Git/Github</li>
		</ul>
		<p id="bio" class="about_sections">Howdy, you.  I went to USC for business and decided to grab a job doing marketing and graphic design.  While I worked on a number of amazing projects, I found coding a fun hobby on the side.  I learned as much as I could with books, CodeAcademy and other online resources, but I needed more depth.  So, I decided to enroll into an immersive programming school called General Assembly.  After three months of 60-70hr weeks, all-nighters, and no social life, I am fully equiped to make awesome products.  Programming, now paired with graphic design, benefit any job that comes my way. I love music, design, food, learning & all things tech.  Let's make something wicked.</p>
	</div>
</div>