<!-- i need to make the following:
resume
plangular player -->


<div id="about_container_wrapper">
	<div id="about_container">
		<h1 class="about_headers">About</h1>
		<ul id="skill_list" class="about_sections">
			<li><h3 id="whtiknw">What I know:</h3></li>
			<li>Ruby on Rails</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>AngularJS</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap/Foundation</li>
			<li>SASS</li>
			<li>BDD/TDD</li>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Firebase</li>
			<li>Git/Github</li>
		</ul>
		<div id="right_about" class="about_sections" >
			<div id="bio_container">
					<p id="bio" >Howdy! I'm a graphic designer turned programmer with a degree in business from USC. I found coding as a fun way to kill time on the side. I read a lot about coding and utilized other online resources, but... I needed more depth. So, I enrolled into an immersive programming school called General Assembly. After a few months of 60-70hr weeks, multiple all-nighters, and no social life, I am fully stacked to make awesome web apps. Call me a Drogrammer (designer + programmer). I love loud music, clean and simple code/design, pizza, & learning new things. Let's make something wicked.</p>
			</div>
			<div id="resmus_wrapper">
				<p id="resume_btn" class="resume_music_btns">Resume</p>
				<p id="music_btn" class="resume_music_btns">Music made by me</p>
			</div>
		</div>
	</div>
</div>