<div id="contact_container_wrapper" >
	<div id="contact_container">
		<article id="envelope_container">
			<%= render "form" %>
		</article>

		<article id="extra_info">
			<h3><strong style="font-size: 30px;">Contact</strong></h3>
			<ul>
				<li><strong style="color: #c6e4c8;">I'd love to chat</strong></li>
				<li>hi@randyrollog.com</li>
				<li>310-621-3051</li>
				<li>Los Angeles, CA</li>
			</ul>
			<h3><strong style="font-size: 30px;">Socialize</strong></h3>
			<ul id="icon_list">
        <li id="github"><a href="https://github.com/randyrollog" alt="github" id="github" target="_blank"></a></li>
        <li id="linkedin"><a href="https://www.linkedin.com/in/randyrlee" alt="linkedin" id="linkedin" target="_blank"></a></li>
        <li id="soundcloud"><a href="https://soundcloud.com/ripleemusic" alt="soundcloud" id="soundcloud" target="_blank"></a></li>
	    </ul>
		</article>
	</div>
</div>