<div id="contact_container_wrapper">
	<div id="contact_container">
		<article id="envelope_container">
			<%= render "form" %>
		</article>

		<article id="extra_info">
			<h3>Contact</h3>
			<p>I'm always free to chat</p>
			<p>hi@randyrollog.com</p>
			<p>310-621-3051</p>
			<p>Los Angeles, CA</p>
			<h3>Social Networks</h3>
		</article>
	</div>
</div>