<div id="works_container_wrapper">
	<div id="works_container">
		<h1>Selected Works</h1>

		<ul class="works">
		  <li class="work_piece">
		    HearHere
		    <img src="assets/icons.png">
		  </li>
		  <li class="work_piece">
		    Half Gap
		    <img src="assets/icons.png">
		  </li>
		  <li>
		    Pausm
		    <img src="assets/icons.png">
		  </li>
		</ul>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
    $('.works').slides({
    	vertical:false,
			resizable:false,
			active:false,
			transitionSpeed: 400,
			easing:"swing",
			events: {
				activate:"click",
				deactivate:"click"
			},
			handle:".gsSlide",
			stayOpen: false,
			keyEvents:false,
			circle : false,
			classes:{
				active:"gsAactive",
				vertical:"gsVertical",
				horizontal:"gsHorizontal",
				slide:"gsSlide",
				deactivating:"gsDeactivating",
				positionActive:"gsPositionActive"
			},
			cache:false,
			limits : {},
			callbacks : {}
    });
  });
</script>