<div id="works_container_wrapper">
	<div id="works_container">
		<h1 class="section_headers">Selected Works</h1>

		<ul class="works">
		  <li class="work_piece">
		  	<h4 class="piece_titles">HearHere</h4>
		  	<%= link_to "Visit ►", "http://hear-here.herokuapp.com/", class: "site_links" %>
		    <img id="hearhere" src="assets/hearhereweb.png">
		  </li>
		  <li class="work_piece">
		    <h4 class="piece_titles">Half Gap</h4>
		    <img src="assets/icons.png">
		  </li>
		  <li>
		    <h4 class="piece_titles">Pausm</h4>
		    <img src="assets/icons.png">
		  </li>
		</ul>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
    $('.works').slides({
    	vertical:false,
			resizable:false,
			active:false,
			transitionSpeed: 200,
			easing:"swing",
			events: {
				activate:"click",
				deactivate:"click"
			},
			handle:".gsSlide",
			stayOpen: false,
			keyEvents:false,
			circle : false,
			classes:{
				active:"gsAactive",
				vertical:"gsVertical",
				horizontal:"gsHorizontal",
				slide:"gsSlide",
				deactivating:"gsDeactivating",
				positionActive:"gsPositionActive"
			},
			cache:false,
			limits : {},
			callbacks : {}
    });
  });
</script>