<div id="works_container_wrapper">
	<div id="works_container">
		<h1>Selected Works</h1>
		<ul data-orbit>
		  <li>
		    <img src="/assets/r_logo.svg" alt="slide 1" />
		    <div class="orbit-caption">
		      Pausm
		    </div>
		  </li>
		  <li>
		    <img src="/assets/waves.svg" alt="slide 2" />
		    <div class="orbit-caption">
		      HearHere
		    </div>
		  </li>
		  <li>
		    <img src="/assets/icons.png" alt="slide 3" />
		    <div class="orbit-caption">
		      Half Gap
		    </div>
		  </li>
		</ul>
	</div>
</div>