<div id="works_container_wrapper">
	<div id="works_container">
		<h1 class="section_headers">Selected Works</h1>

		<ul class="works">
		  <li class="work_piece">
		  	<h4 class="piece_titles">HearHere - A sound library slash sample pad</h4>
		  	<%= link_to "Visit ►", "http://hear-here.herokuapp.com/", class: "site_links" %>
		    <img id="hearhere" src="assets/hearhereweb.png">
		  </li>
		  <li class="work_piece">
		    <h4 class="piece_titles">Half Gap - A mobile friendly app that geolocates two
		    	users to find a place of interest equidistantly between them.</h4>
		    <%= link_to "Visit ►", "http://halfgap.herokuapp.com/", class: "site_links" %>
		    <img id="hearhere" src="assets/halfgapweb.png">
		  </li>
		  <li class="work_piece">
		    <h4 class="piece_titles">Pausm - A stackoverflow for music producers.</h4>
		    <%= link_to "Visit ►", "http://pausm.herokuapp.com/", class: "site_links" %>
		    <img id="hearhere" src="assets/pausmweb.png">
		  </li>
		  <li>
		    <h4 class="piece_titles">This Site - My portfolio!</h4>
		    <%= link_to "Visit ►", "http://randyrollog.com/", class: "site_links" %>
		    <img id="hearhere" src="assets/portfolioweb.png">
		  </li>
		</ul>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// set options for slide
    $('.works').slides({
    	vertical:false,
			resizable:false,
			active:false,
			transitionSpeed: 200,
			easing:"swing",
			events: {
				activate:"mouseenter",
				deactivate:"mouseout"
			},
			handle:".gsSlide",
			stayOpen: false,
			keyEvents:false,
			circle : false,
			classes:{
				active:"gsAactive",
				vertical:"gsVertical",
				horizontal:"gsHorizontal",
				slide:"gsSlide",
				deactivating:"gsDeactivating",
				positionActive:"gsPositionActive"
			},
			cache:false,
			limits : {},
			callbacks : {}
    });


  });
</script>