<div class="page_container">
	<h1>SITE IS STILL IN THE WORKS...</h1>
	<h3>Check these out in the meantime</h3>
	<ul id="icon_list">
		<li id="github"><a href="https://github.com/randyrollog" alt="github" id="github"></a></li>
		<li id="linkedin"><a href="https://www.linkedin.com/in/randyrlee" alt="linkedin" id="linkedin"></a></li>
		<li id="soundcloud"><a href="https://soundcloud.com/ripleemusic" alt="soundcloud" id="soundcloud"></a></li>
		<li id="resume_icon"><a href="" alt="resume_icon" id="resume"></a></li>
		<li id="email"><a href="google.com" alt="email" id="email"></a></li>
	</ul>

	<div class="zoom" id="my_resume">
	  <img src="/assets/Resume13_zoom.svg" id="resume_img" >
	</div>


	<%= render "form" %>

</div>

<footer id="footer">
</footer>

<script>
	$(function(){

		var overlay = jQuery('<div id="overlay"> </div>');
		overlay.appendTo(document.body);
		overlay.hide();

		var mr = $("#my_resume");
		mr.hide();
		mr.zoom();

		var cf = $('#contact_form');
		cf.hide();

    $("#resume_icon").click(function(event){
    	event.preventDefault();
    	overlay.fadeIn(200);
      mr.fadeIn(600);
    })

    $("#my_resume").click(function(event){
    	event.preventDefault();
      $(this).fadeOut(600);
      overlay.fadeOut(900);
    });

    $("#email").click(function(event){
    	event.preventDefault();
    	overlay.fadeIn(200);
      cf.fadeIn(600);
    });

    $(".x_out").click(function(event){
    	event.preventDefault();
    	cf.fadeOut(600);
      overlay.fadeOut(900);
    });

	});
</script>