<div class="page_container">
	<h1>SITE IS STILL IN THE WORKS...</h1>
	<h3>Check these out in the meantime</h3>
	<ul id="icon_list">
		<li id="github"><a href="https://github.com/Rollog" alt="github" id="github"></a></li>
		<li id="linkedin"><a href="https://www.linkedin.com/in/randyrlee" alt="linkedin" id="linkedin"></a></li>
		<li id="soundcloud"><a href="https://soundcloud.com/ripleemusic" alt="soundcloud" id="soundcloud"></a></li>
		<li id="resume"><a href="" alt="resume" id="resume"></a></li>
		<li id="email"><a href="google.com" alt="email" id="email"></a></li>
	</ul>

	<%= image_tag "RLee_Resume13_final.svg", id: "overlay_resume" %>
</div>

<footer id="footer">
</footer>

<script>
	$(function(){
		// $('#email').clipboard({
  //     path: 'hi@randyrollog.com',
  //     copy: function() {
  //         alert('Text copied. Try to paste it now!');
  //         return $('div#some-content').text();
  //     }
		// });
		var o_resume = $("#overlay_resume")
		o_resume.hide();

    $("#resume").click(function(event){
    	event.preventDefault();
      $("#overlay_resume").fadeIn(600);
    });

    $("#overlay_resume").click(function(event){
    	event.preventDefault();
      $(this).fadeOut(600);
    });
	});
</script>