@import "bootstrap";

// this red color
$maincolor: #bd454a;
$mainfont: proxima_nova_rgregular;

 @font-face {
    font-family: proxima_nova_rgregular;
    src: asset-url('proximanova-regular-webfont.eot');
    src: asset-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('proximanova-regular-webfont.woff') format('woff'),
         asset-url('proximanova-regular-webfont.ttf') format('truetype'),
         asset-url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: $maincolor;
	font-family: proxima_nova_rgregular;
	margin: 0;
	height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  z-index: 1;
}

@media (max-width: 40em) { 

	.nav-bar {
		width: 100%;
		height: 39px;
		border-bottom: 1px solid white;
		position: fixed;
		top: 0;
		left: 0;
		vertical-align: middle;
		overflow: hidden;
		font-size: 10px;
	}

	#nav_contact_wrapper {
		display: none;
	}

	#nav_contact_wrapper_small {
		display: block;
		margin-top: 5px;
		float: left;
		font-size: 20px;
		vertical-align: middle;
	}

	.glyphicon-info-sign {
		font-size: 15px;
	}

	#nav_contact_info {
		padding-right: 12px;
		position: fixed;
		top: 40px;
		left: 0;
		background: $maincolor;
		// border: 1px solid white;
		box-shadow: 1px 5px 7px black;
	}

	.navbar_contact {
		color: white;
		margin: 0;
		padding: 0;
		margin-left: 10px;
	}

	.navbar_contact_small {
		color: white;
		margin: 0;
		padding: 0;
		margin-left: 10px;
	}

	.nav_content_right {
		float: right;
	}

	#r_logo {
		margin-top: 6px;
		margin-right: 10px;
		height: 25px;
		width: auto;
		transition: .5s;
	}
	#r_logo:hover {
		opacity: .5;
	}

	.page_container {
		width: 290px;
		margin: 60px auto;
		// margin-left: -2px;
		color: white;
		text-align: center;
	}

	h1 {
		font-size: 20px;
	}

	h3 {
		font-size: 15px;
		margin: -5px auto;
	}

	h2 {
		margin-top: 5px;
		margin-bottom: 3px;
	}

	#icon_list {
		margin-top: 7px;
		list-style: none;
		padding-left: 0;
	}


	#github {
		background: asset-url("icons.png", image);
		background-position:  0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#github:hover {
		transition: .3s;
		opacity: .5;
	}

	#linkedin {
		background: asset-url("icons.png", image);
		background-position:  -95px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#linkedin:hover {
		transition: .3s;
		opacity: .5;
	}

	#soundcloud {
		background: asset-url("icons.png", image);
		background-position:  -202px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 85px;
		height: 80px;
		display: inline-block;
	}
	#soundcloud:hover {
		transition: .3s ease-in-out;
		opacity: .5;
	}

	#resume_icon {
		background: asset-url("icons.png", image);
		background-position:  -310px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#resume_icon:hover {
		transition: .3s;
		opacity: .5;
	}

	#resume_wrapper {
		width: 82%;
		position: relative;
		left: 50%;
		top: 	50%;
		margin-left: -41%;
		margin-top: -91%;
	}

	#x_out_resume {
		position: absolute;
		right: 0px;
		top: -2px;
		z-index: 4;
		height: 20px;
	}

	#my_resume {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		display: inline-block;
		overflow: hidden;
	}

	#resume_img {
		width: 100%;
	}

	#email {
		background: asset-url("icons.png", image);
		background-position:  -420px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#email:hover {
		transition: .3s;
		opacity: .5;
	}

	.x_out {
		position: absolute;
		top: 0px;
		right: 0;
		height: 30px;
	}

	#contact_form {
		background: $maincolor;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		
	}

	#form_container {
		margin-top: 15px auto;
	}

	.contact_fields {
		padding: 5px;
		width: 99%;
		height: 35px;
		margin-left: 1px;
		margin-bottom: 4px;
		font-size: 15px;
		color: white;
		background: none;
		border: none;
		border-bottom: 1px solid white;
		border-left: 1px dashed white;
		-webkit-appearance: none;
		border-radius: 0;
	}
	.contact_fields:focus {
		outline: none;
	}
	.contact_fields::-webkit-input-placeholder {
	   color: white;
	}

	#submit_btn {
		padding-top: 2px;
		background: asset-url('arrow3.svg') 254px 3px;
		background-color: white;
		text-decoration: none;
		width: 100%;
		height: 35px;
		font-weight: bold;
		color: $maincolor;
		font-size: 20px;
		border: 1px solid white;
		background-repeat: no-repeat;
		border-radius: 0;
	}
	#submit_btn:hover {
		background: asset-url('arrow4.svg') 4px 3px;
		background-repeat: no-repeat;
		background-color: white;
		color: $maincolor;
	}

	#waves_div {
		position: fixed;
		bottom: -40px;
		left: 0;
		width: 100%;
		height: 100px;
		background-image: asset-url("waves.svg");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -4;
	}

}

@media only screen and (min-width: 40.063em) { 

	.nav-bar {
		width: 100%;
		height: 85px;
		border-bottom: 1px solid white;
		position: fixed;
		top: 0;
		left: 0;
		vertical-align: middle;
		overflow: hidden;
		z-index: 2;
	}

	#nav_contact_wrapper {
		margin-top: 3px;
		float: left;
	}

	#nav_contact_wrapper_small {
		display: none;
	}

	.navbar_contact {
		color: white;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		float: left;
		margin-top: 5px;
	}

	.contact_text {
		margin-bottom: -4px;
		padding: 0;
	}

	.nav_content_right {
		float: right;
		color: white;
		font-size: 25px;
		margin-right: 10px;
		margin-left: 20px;
		line-height: 85px;
	}

	ul, li {
		list-style: none;
		padding: 0;
		margin:0;
	}

	#r_logo {
		margin-left: 10px;
		margin-right: 9px;
		height: 52px;
		width: auto;
		transition: .5s;
		margin-top: 7px;
	}
	#r_logo:hover {
		opacity: .5;
	}

	.home_container {
		width: 700px;
		margin: 100px auto;
		color: white;
		text-align: center;
		padding-top: 50px;
	}

	#tagline_wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.tagline_content {
		display: inline;
		vertical-align: middle;
	}

	.glyphicon-circle-arrow-down {
		font-size: 20px;
	}

	#icon_list {
		list-style: none;
		padding-left: 0;
		display: inline-block;
	}


	#github {
		background: asset-url("icons.png", image);
		background-position:  0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#github:hover {
		transition: .3s;
		opacity: .5;
	}

	#linkedin {
		background: asset-url("icons.png", image);
		background-position:  -95px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#linkedin:hover {
		transition: .3s;
		opacity: .5;
	}

	#soundcloud {
		background: asset-url("icons.png", image);
		background-position:  -202px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 85px;
		height: 80px;
		display: inline-block;
	}
	#soundcloud:hover {
		transition: .3s ease-in-out;
		opacity: .5;
	}

	// adds magnifying glass icon to resume
	.zoom:after {
		content: '';
		display: block;
		width: 33px;
		height: 33px;
		position: absolute;
		top: 0;
		right: 0;
		background: asset-url("magnifyglass.png", image);
	}

	#resume_icon {
		background: asset-url("icons.png", image);
		background-position:  -310px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#resume_icon:hover {
		transition: .3s;
		opacity: .5;
	}

	#resume_wrapper {
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -220px;
		margin-top: -15%;
		width: 440px;
	}

	#x_out_resume {
		position: absolute;
		right: -3px;
		top: -92px;
		z-index: 4;
		height: 30px;
	}

	#my_resume {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -220px;
		margin-top: -20%;
		z-index: 2;
		display: inline-block;
		overflow: hidden;
	}

	#resume_img {
		width: 440px;
	}

	#email {
		background: asset-url("icons.png", image);
		background-position:  -420px 0px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	#email:hover {
		transition: .3s;
		opacity: .5;
	}

	.x_out {
		position: absolute;
		top: -40px;
		right: 0;
		height: 30px;
	}

	#waves_div {
		width: 100%;
		height: 300px;
		margin-top: 200px;
		background-image: asset-url("waves.svg");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -4;
	}

	#works_container_wrapper {
		width: 100%;
		height: 500px;
		background: mistyrose;
		margin: -36px auto;
		padding-top: 20px;
		position: relative;
	}

	#works_container {
		width: 700px;
		height: 440px;
		margin: 0 auto;
		text-align: center;
		color: dimgray;
		// border: 2px solid $maincolor;
	}

	.section_headers {
		position: absolute;
		left: 50%;
		top: -40px;
		margin-left: -150px;
		width: 300px;
		font-weight: 900;
		background: white;
		padding-left: 5px;
		padding-right: 5px;
	}

	.about_headers {
		position: absolute;
		left: 50%;
		top: -7px;
		width: 150px;
		margin-left: -75px;
		font-weight: 900;
		background: white;
		padding-left: 5px;
		padding-right: 5px;
		color: dimgray;
	}

	.works {
		position: relative;
		height: 368px;
		background: none;
		border: none;
		text-align: left;
		margin-top: 57px; 
	}

	.work_piece {
		border-right: 1px solid $maincolor !important; 
	}

	.piece_titles {
		position: absolute;
		padding-left: 15px;
		margin: 0;
		left: 0;
		top: 0;
		font-weight: bold;
		width: 696px;
		height: 40px;
		background: rgba(0, 0, 0, 0.2);
	}

	.site_links {
		position: absolute;
		margin: 0;
		right: 15px;
		bottom: 15px;
		font-weight: bold;
		font-size: 12px;
		color: black;
		background: rgba(0, 0, 0, 0.2);
		padding: 4px;
		width: 68px;
		text-align: center;
		vertical-align: middle;
	}
	.site_links:hover {
		text-decoration: none;
		transition: .3s ease-in-out;
		color: darkgoldenrod;
		background: white;
		padding: 4px;
		width: 68px;
		text-align: center;
	}

	#hearhere {
		height: 366px;
		width: 696px;
	}

	#about_container_wrapper {
		width: 100%;
		height: 500px;
		color: white;
		padding-top: 20px;
		margin-top: -20px;
		position: relative;
	}

	#about_container {
		width: 700px;
		height: 440px;
		margin: 0 auto;
		text-align: center;

		// border: 2px solid $maincolor;
	}

	#whtiknw {
		margin-top: 0;
	}

	#skill_list {
		width: 165px;
		text-align: left;
		margin-top: 95px;
		border-right: 2px solid white;
		float: left;
	}

	#bio_container {
		width: 500px;
		height: 343px;
	}

	#bio {
		width: 500px;
		float: right;
		font-size: 18px;
		margin-top: 94px;
		text-align: justify;
	}

	#resmus_wrapper {
		width: 500px;
		height: 47px;
		text-align: left;
	}

	#resume_btn {
		width: 110px;
		height: 30px;
		background: cadetblue;
		line-height: 30px;
		font-size: 20px;

	}

	#music_btn {
		font-size: 20px;
		width: 190px;
		height: 30px;
		line-height: 30px;
		background: coral;
	}

	#playlist {
		width: 300px;
		height: 100px;
	}

	.about_sections {
		display: inline-block;
	}

	.resume_music_btns {
		display: inline-block;
		text-align: center;
	}

	#contact_container_wrapper {
		width: 100%;
		height: 500px;
		color: white;
		margin-top: 20px;
		padding-top: 20px;
		background: lightslategrey;
		
	}

	#contact_container {
		position: relative;
		margin: 0 auto;
		width: 700px;
	}

	#envelope_container {
		width: 473px;
		height: 429px;
		background: asset-url("envelope.svg");
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}


	#env_img {
		width: 546px;
		text-align: left;
		position: relative;
	}

	#contact_form {
		// background: $maincolor;
		width: 441px;
		height: 293px;
		position: relative;
		top: 123px;
		left: 19px;
	}

	#form_container {
		margin-top: 26px;
	}

	.contact_fields {
		width: 205px;
		height: 50px;
		margin: 0;
		margin-bottom: 4px;
		font-size: 15px;
		color: white;
		background: none;
		border: none;
		border-bottom: 1px solid white;
	}
	.contact_fields:focus {
		outline: none;
	}
	.contact_fields::-webkit-input-placeholder {
	   color: white;
	}

	.right_contact {
		margin-left: 20px;
	}

	#description {
		width: 434px;
		height: 71px;
	}

	#budget {
		padding: 5px;
		width: 55px;
		height: 30px;
		margin: 0;
		font-size: 15px;
	}

	#submit_btn {
		background-color: khaki;
		text-decoration: none;
		width: 125px;
		height: 45px;
		font-weight: bold;
		font-size: 22px;
		border: 0;
		border-radius: 2px;
		margin-bottom: 0;
		margin-top: 4px;
		margin-left: 309px
	}
	#submit_btn:hover {
		background-repeat: no-repeat;
		background-color: #bd5a4a;
		color: white;
	}

	#extra_info {
		position: absolute;
		right: 0;
		top: 99px;
	}
}