<div class="navbar show-for-medium-up hide-for-small-only">
	<div id="nav_contact_wrapper">
		<p class="navbar_contact hide-for-small-only">Randy Rollog Lee // Web Developer & Designer</p>
		<p class="navbar_contact hide-for-small-only">310-621-3051</p>
		<p class="navbar_contact hide-for-small-only">hi@randyrollog.com</p>
	</div>
	<div class="nav_content_right">
		<%= link_to image_tag("r_logo.svg", id: "r_logo" ), root_path %>
	</div>
</div>