<div class="nav-bar">
	<div id="nav_contact_wrapper">
		<div class="navbar_contact">
			<%= link_to image_tag("r_logo.svg", id: "r_logo" ), root_path %>
		</div>
		<div class="navbar_contact">
		<p class="contact_text">Randy Rollog Lee | Web Developer//Designer</p>
		<p class="contact_text">310-621-3051</p>
		<p class="contact_text">hi@randyrollog.com</p>
		</div>		
	</div>

	<div class="nav_content_right">Contact</div>
	<div class="nav_content_right">About</div>
	<div class="nav_content_right">Works</div>

	<div id="nav_contact_wrapper_small">
		<p class="navbar_contact">Randy Rollog <span class="glyphicon glyphicon-info-sign"></span></p>
	</div>
</div>