<div class="nav-bar">
	<div id="nav_contact_wrapper">
		<div class="navbar_contact">
			<%#= link_to image_tag("r_logo.svg", id: "r_logo" ), root_path %>
			<div id="r_logo" data-0="top:0px;" data-end="top:420px;">
				<img src="assets/r_logo.svg">
			</div>
			<div id="home_logo" data-0="opacity:0;" data-40="opacity:1;">
				<img  src="assets/home_logo.svg" >
			</div>
			<div id="meter" data-0="height:0px;" data-end="height:420px;"></div>
		</div>
		<div class="navbar_contact">
		<p class="contact_text">Randy Rollog Lee</p>
		<p class="contact_text">Web Developer//Designer</p>
		<p class="contact_text">310-621-3051</p>
		<p class="contact_text">hi@randyrollog.com</p>
		</div>		
	</div>

	<a href="#contact" data-menu-top="10p" class="nav_content_right">Contact</a>
	<a href="#about" data-menu-top="2000" class="nav_content_right">About</a>
	<a href="#works" data-menu-top="10p" class="nav_content_right">Works</a>

	<div id="nav_contact_wrapper_small">
		<p class="navbar_contact">Randy Rollog <span class="glyphicon glyphicon-info-sign"></span></p>
	</div>
</div>