<div class="nav-bar">
	<div id="nav_contact_wrapper">
		<div class="navbar_contact">
			<div id="r_logo" data-0="top:0px;" data-end="top:420px;" class="scroll_home">
				<a href="#uptop!" data-menu-top="0">
					<img src="assets/r_logo.svg">
				</a>
			</div>
			<div id="home_logo" data-0="opacity:0;" data-40="opacity:1;" class="scroll_home">
				<a href="#uptop!" data-menu-top="0">
					<img  src="assets/home_logo.svg">
				</a>
			</div>
			<div id="meter" data-0="height:0px;" data-end="height:420px;" class="scroll_home"></div>
		</div>

		<div class="navbar_contact">
			<p class="contact_text">Randy Rollog Lee</p>
			<p class="contact_text">Web Developer//Designer</p>
			<p class="contact_text">310-621-3051</p>
			<p class="contact_text">hi@randyrollog.com</p>
		</div>		
	</div>

	<div id="nav_right_wrapper">
		<a href="#works" data-menu-top="260" class="nav_content_right">Works</a>
		<a href="#about" data-menu-top="530" class="nav_content_right">About</a>
		<a href="#contact" data-menu-top="900" class="nav_content_right">Contact</a>
	</div>
	<div id="nav_contact_wrapper_small">
		<p class="navbar_contact">Randy Rollog <span class="glyphicon glyphicon-info-sign"></span></p>
	</div>
</div>