<div class="nav-bar">

	<a href="#contact" data-menu-top="900" class="nav_content_right">Contact</a>
	<a href="#about" data-menu-top="530" class="nav_content_right">About</a>
	<a href="#works" data-menu-top="260" class="nav_content_right">Works</a>

</div>